@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Nunito:wght@300&display=swap');

:root {
    --cor-links: rgba(255, 255, 255, 0.664);
    --cor-sombras: rgb(73, 73, 73);
    --cor-texto: rgb(238, 238, 238);

    --font-titulos: 'Alkatra', cursive;
    --font-texto: 'Nunito', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

#notification {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 3rem;
}

.container {
    max-width: 2000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: flex-start;
}

.card {
    width: 360px;
    max-height: 500px;
    margin: 20px 14px;
    padding: 5px 3px;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.438);
    transition: all 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 0 40px rgba(19, 107, 221, 0.63);
    transform: scale(1.07);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    text-align: center;
    width: 98%;
    border-radius: 13px;
    border: 1px solid rgba(0, 0, 0, 0.068);
}

.card-title h3 {
    font-size: 3rem;
    margin: 10px 0;
    padding: 7px 0;
    color: black;
    font-family: var(--font-titulos);
    transition: all 0.7s;
}

.card-description p {
    padding: 0 5px;
    text-align: center;
    height: 80px;
    font-family: var(--font-texto);
    font-size: 1.6rem;
}

.card-link a {
    color: #000;
    text-decoration: underline;
    font-size: 2rem;
    font-family: var(--font-texto);
    transition: all 0.7s;
}

.card-technology {
    padding-top: 12px;
    font-size: 1.4rem;
    color: rgb(0, 60, 255);
}