@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Nunito:wght@300&display=swap');

:root {
    --cor-links: rgba(255, 255, 255, 0.664);
    --cor-sombras: rgb(73, 73, 73);
    --cor-texto: rgb(238, 238, 238);

    --font-titulos: 'Alkatra', 'cursive';
    --font-texto: 'Nunito', sans-serif;
  }

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

nav {
    margin: 10px 10px 0 10px;
}

nav ul {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    padding: 0px 17px;
    transition: all 0.7s;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: var(--font-titulos);
    font-size: 20px;
    transition: all 0.7s;
    display: flex;
}

li:hover {
    transform: scale(1.12);
}

a:hover {
    cursor: pointer;
}

.github:hover {
    color: black;
}

.e-mail:hover {
    background-image: linear-gradient(to right, blue, brown, red, yellow, green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.linkedin:hover {
    background-image: linear-gradient(to right, #0A66C2, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.instagram:hover {
    background-image: linear-gradient(to right, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040,  #F77737, #FCAF45, #FFDC80);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.whatsapp:hover {
    background-image: linear-gradient(to right, #5FFC7B, #28D146, #FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

section {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center; /* Alinhamento horizontal */
    align-items: flex-start; /* Alinhamento vertical */
}

.card {
    width: 360px;
    height: 400px;
    margin: 10px;
    padding: 12px 6px;
    border-radius: 50px;
    background-color: #b1b1b1;
    box-shadow: 2px 2px 20px gray;
    transition: all 0.7s;
}

.card:hover {
    box-shadow: 0px 0px 0px;
    transform: scale(1.07);
    margin: 10px 20px;
    background-color: white;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    margin: 0px 3px;
    width: 350px;
    border-radius: 50px 50px 0 0;
    border: 3px solid black;
}

.card-title h3 {
    font-size: 30px;
    margin: 10px 0px 0px 0px;
    padding: 7px 0px;
    color: black;
    font-family: var(--font-titulos);
    transition: all 0.7s;
}

.card-description p {
    margin: 0 0 20px 0;
    text-align: center;
    width: 320px;
    font-family: var(--font-texto);
}

.card-link a {
    color: black;
}

.card-link {
    text-decoration: underline;
    font-size: 25px;
    font-family: var(--font-texto);
    transition: all 0.7s;
}

.card-link:hover {
    transform: scale(1.15);
    font-weight: bold;
}

@media screen and (max-width: 400px) {
    .card {
        width: 340px;
        height: 400px;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .card img {
        width: 330px;
        margin: 0 2px;
    }
}

