* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
}

.header-content {
  height: fit-content;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 18px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #E1306C;
  transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

/* linkedin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #25D366;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



#container {
  max-width: 2000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.card {
  width: 405px;
  height: 435px;
  margin: 20px 7px;
  border-radius: 10px;
  border: 1px solid rgba(95, 95, 95, 0.171);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
  transition: all 0.7s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.479);
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #dbe5e6;
  transition: all 0.3s;
}

.card img:hover {
  transform: scale(1.05);
}

.card-content {
  margin: 20px;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title h3 a {
  font-weight: 400;
  font-size: 2.4rem;
  text-decoration: none;
  padding: 5px 0 0 0;
  color: #000;
}

.card-title h3 a:hover,
.card-title h4 a:hover {
  text-decoration: underline;
}

.card-title h4 a {
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: none;
  color: #333;
}

.card-technology {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 8px 0 15px 0;
}

.card-technology span {
  margin-right: 10px;
}

.html {
  color: #ee632a;
}

.css {
  color: #3589d3;
}

.js {
  color: #edd61a;
}

.html:hover,
.css:hover,
.js:hover {
  text-decoration: underline;
  cursor: context-menu;
}

.card-description p {
  color: #737488;
  margin-bottom: 5px;
  font-size: 1.6rem;
}

#notification {
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 3rem;
  margin: 10px;
}

@media screen and (max-width: 330px) {

  .card {
    overflow: auto;
  }
}